body {
    color: white;
    background: rgb(255, 255, 255);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
     margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(134, 0, 128, 1);
    padding: 20px;
    font-size: 32px;
    color: rgba(134, 0, 128, 1);
}

.chamada {
    background: rgba(255, 0, 132, 1);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
    margin-left: 5%;
}

.video {
    margin-right: 5%;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 25px;
}

img {
    height: 200px;
}
